# add this to ~/.gitconfig

[color]
    ui = true
[core]
    editor = nvim
	autocrlf = false
	eol = lf
    pager = delta
[alias]
    # Delete any branches that have been merged except master, development and the current branch
    cleanup = !git remote prune origin && git branch --merged | egrep -v '(^\\*|master|develop)' | xargs git branch -d

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
